{% extends 'base.html.twig' %}



{% block title %}Chain Explorer Light{% endblock %}

{% block body %}
{% for flashMessage in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.flashes('error') %}
    <div class="alert alert-danger">
            {{ flashMessage }}
    </div>
{% endfor %}
<div class="container mt-4">
  <h1>Chain Explorer Light</h1>
 
  {% if form %}
  <div class="mt-4">
      {{ form_start(form) }}
      {{ form_widget(form) }}      
      {{ form_end(form) }}
  </div>
  {% endif %}
  
  {% if transactions is defined %}
  <h3>Result</h3>
  {{ transactions|length }} TX

  {% for transaction in transactions %}
  <div class="mt-4">
    <p>Hash: {{ transaction.hash }}</p>
        
   {% endfor %}
  {% endif %}


</div>
{% endblock %}

     
    

    
